body{
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	scroll-behavior: smooth;
}


html{
	scroll-behavior: smooth;
}

@media only screen and (min-width: 600px) {

	.tagLine{
		font-size: 4vw;
		font-weight: 700;
	}

	.logoDiv{
		margin-bottom: 10%;
	}

	.menu{
		float: left;
		width: 40%;
		padding-top: 3%;
		padding-left: 5%;
		padding-right: 5%;
		position: fixed;
		overflow-y: scroll
	}

	.container{
		overflow-y: scroll;
    	overflow-x:hidden;
	}

	.menu-title{
		font-size: 56px;
	}

	.content{
		width: 50%;
		margin-left: 40%;
		overflow-y: scroll
	}

	.content-paragraph{
		padding-top: 2%;
		font-size: 42px;
		opacity: 0.4;
	}

	.link{
		text-decoration: none;
		color: #000;
	}

	.bullet{
		padding-top: 1%;
		padding-bottom: 1%;
		padding-left: 2.2%;
		padding-right: 2.2%;
		border-radius: 100px;
		background-color: #FC6262;
		color: #fff;
		font-size: 22px;
		margin-right: 5%;
		vertical-align: middle;
		font-weight: 400;
	}

	 .col{
	 	flex: 1;
	 	height: 600px;
	 	background-color: #FFF;
	 	margin-bottom: 3%;
	 	margin-left: 1%;
	 	margin-right: 1%;
	 	border-radius: 10px;
	 	padding-top: 1%;
	 	box-shadow: 0 3px 70px 12px rgba(0,0,0,0.1);
	 }

	 .flex-grid {
		 display: flex;
	 }

	 .img{
	 	height: 500px;
	 	width: 100%;
	 	object-fit: cover;
	 }

	 .grid{
	 	margin-top: 5%;
	 }

	 .title{
	 	font-size: 1.4vw;
	 	padding-left: 2%;
	 	padding-right: 2%;
	 	padding-bottom: 3%;
	 }

	 .link{
	 	text-decoration: none;
	 }

}

@media only screen and (max-width: 600px) {
	.menu{
		float: left;
	}

	.menu-title{

	}

	.content{
		overflow: scroll;
	}
}