@font-face {
  font-display: swap;
  font-family: "Circular Black";
  src: local('Circular Black'),
    url("../fonts/lineto-circular-black.eot") format("embedded-opentype"),
    url("../fonts/lineto-circular-black.woff2") format("woff2"),
    url("../fonts/lineto-circular-black.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Circular Book";
  src: local('Circular Book'),
    url("../fonts/lineto-circular-book.eot") format("embedded-opentype"),
    url("../fonts/lineto-circular-book.woff2") format("woff2"),
    url("../fonts/lineto-circular-book.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Circular Bold";
  src: local('Circular Bold'),
    url("../fonts/lineto-circular-bold.eot") format("embedded-opentype"),
    url("../fonts/lineto-circular-bold.woff2") format("woff2"),
    url("../fonts/lineto-circular-bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Circular Medium";
  src: local('Circular Medium'),
    url("../fonts/lineto-circular-medium.eot") format("embedded-opentype"),
    url("../fonts/lineto-circular-medium.woff2") format("woff2"),
    url("../fonts/lineto-circular-medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Circular Black";
  src: url("../fonts/lineto-circular-black.eot") format("embedded-opentype"),
    url("../fonts/lineto-circular-black.woff2") format("woff2"),
    url("../fonts/lineto-circular-black.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Circular Book";
  src: url("../fonts/lineto-circular-book.eot") format("embedded-opentype"),
    url("../fonts/lineto-circular-book.woff2") format("woff2"),
    url("../fonts/lineto-circular-book.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Circular Bold";
  src: url("../fonts/lineto-circular-bold.eot") format("embedded-opentype"),
    url("../fonts/lineto-circular-bold.woff2") format("woff2"),
    url("../fonts/lineto-circular-bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Circular Medium";
  src: url("../fonts/lineto-circular-medium.eot") format("embedded-opentype"),
    url("../fonts/lineto-circular-medium.woff2") format("woff2"),
    url("../fonts/lineto-circular-medium.woff") format("woff");
}

/* Adding a class to the body so these styles don't interfere with any page it lives on */
body.landing {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #32393d;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  body.landing {
    font-size: 18px;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing p {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #32393d;
  margin-bottom: 40px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .landing p {
    font-size: 18px;
  }
}
.landing p.fine-print {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}
.landing p.white {
  color: #ffffff;
}
.landing p .text-centered {
  text-align: center;
}

.landing img {
  max-width: 100%;
}

.landing h1,
.landing h2,
.landing h3,
.landing h4,
.landing h5,
.landing h6 {
  color: #32393d;
  margin: 0;
}
.landing h1.white,
.landing h2.white,
.landing h3.white,
.landing h4.white,
.landing h5.white,
.landing h6.white {
  color: #ffffff;
}

.landing .heading-xlarge,
.landing .heading-xlarge * {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-xlarge,
  .landing .heading-xlarge * {
    font-size: 62px;
    line-height: 1.25;
  }
}

.landing .heading-xlarge-bold,
.landing .heading-xlarge-bold * {
  font-family: "Circular Black", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-xlarge-bold,
  .landing .heading-xlarge-bold * {
    font-size: 62px;
    line-height: 1.25;
  }
}

.landing .heading-large,
.landing .heading-large * {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-large,
  .landing .heading-large * {
    font-size: 36px;
    line-height: 1.25;
  }
}

.landing .heading-large-bold,
.landing .heading-large-bold * {
  font-family: "Circular Black", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-large-bold,
  .landing .heading-large-bold * {
    font-size: 36px;
    line-height: 1.25;
  }
}

.landing .heading-medium,
.landing .heading-medium * {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-medium,
  .landing .heading-medium * {
    font-size: 32px;
  }
}

.landing .heading-medium-bold,
.landing .heading-medium-bold * {
  font-family: "Circular Black", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-medium-bold,
  .landing .heading-medium-bold * {
    font-size: 32px;
  }
}

.landing .heading-small,
.landing .heading-small * {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-small,
  .landing .heading-small * {
    font-size: 24px;
  }
}

.landing .heading-small-bold,
.landing .heading-small-bold * {
  font-family: "Circular Bold", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-small-bold,
  .landing .heading-small-bold * {
    font-size: 24px;
  }
}

.landing .heading-xsmall {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-xsmall {
    font-size: 21px;
  }
}

.landing .heading-xsmall-bold {
  font-family: "Circular Bold", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .landing .heading-xsmall-bold {
    font-size: 21px;
  }
}

.landing .heading-xxsmall {
  font-family: "Circular Bold", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.3;
  text-transform: uppercase;
}

.landing .system--button {
  font-family: "Circular Black", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fb2b31;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  display: inline-block;
  min-width: 200px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}
@media (min-width: 768px) {
  .landing .system--button {
    font-size: 15px;
  }
}
.landing .system--button:hover,
.landing .system--button:focus,
.landing .system--button:active {
  background-color: #e81e24;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

.landing .system--button-ghost {
  font-family: "Circular Black", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  border: 1px solid #e1e4e6;
  border-radius: 12px;
  color: #32393d;
  display: inline-block;
  min-width: 200px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
@media (min-width: 768px) {
  .landing .system--button-ghost {
    font-size: 15px;
  }
}
.landing .system--button-ghost:hover,
.landing .system--button-ghost:focus,
.landing .system--button-ghost:active {
  color: #32393d;
  border: 1px solid #aaafb1;
  outline: none;
  text-decoration: none;
}

.landing .system--button-alt {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e9ecee;
  border: none;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #32393d;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 3px 10px 3px 10px;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
@media (min-width: 768px) {
  .landing .system--button-alt {
    font-size: 18px;
  }
}
.landing .system--button-alt:hover {
  background-color: #e1e4e6;
  color: #32393d;
  text-decoration: none;
}

.landing .system--button-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.landing .system--button-arrow {
  height: 17px;
  margin-left: 10px;
  width: 17px;
}

.landing .lander--svg {
  vertical-align: middle;
}

.landing a {
  color: #fb2b31;
  text-decoration: none;
}
.landing a:hover {
  text-decoration: underline;
}

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-0,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 768px) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-0,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 960px) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-0,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 1040px) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-0,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.landing {
  /* Mobile Only Styles */
}
.landing .hero-form {
  margin-top: -250px;
  position: relative;
  z-index: 1;
}
.landing .hero-form-heading {
  margin-bottom: 15px;
}
.landing .hero-form-container {
  background: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 32px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
  padding: 40px 15px;
}
@media (min-width: 768px) {
  .landing .hero-form-container {
    padding: 40px 50px;
  }
}
.landing .hero-form-search-container {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background: #f2f4f5;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  height: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.landing .hero-form-search-term,
.landing .hero-form-select-wrap {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  height: 100%;
  margin: 0;
}
.landing .hero-form-search-term {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  background: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: none !important;
  padding: 0 0 0 15px;
}
@media (min-width: 768px) {
  .landing .hero-form-search-term {
    font-size: 15px;
  }
}
.landing .hero-form-search-term::-webkit-input-placeholder {
  color: #94999c;
}
.landing .hero-form-search-term:-ms-input-placeholder {
  color: #94999c;
}
.landing .hero-form-search-term::-ms-input-placeholder {
  color: #94999c;
}
.landing .hero-form-search-term::placeholder {
  color: #94999c;
}
.landing .hero-form-select-wrap {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 135px;
  flex: 0 1 135px;
}
.landing .hero-form-select-icon {
  height: 13px;
  margin-right: 10px;
  width: 10px;
}
.landing .hero-form-select {
  font-family: "Circular Bold", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: #94999c;
  height: 100%;
  outline: none !important;
  padding: 0;
  width: 100%;
}
.landing .hero-form-select::-ms-expand {
  display: none;
}
.landing .hero-form-submit {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4ebb44;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0;
  outline: none !important;
  padding: 15px 18px;
}
.landing .hero-form-submit svg {
  vertical-align: bottom;
}

.landing .hero-form-cta {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4ebb44;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0;
  outline: none !important;
  padding: 15px 25px;
  color: white;
  display: inline-block;

  font-family: "Circular Medium";
  box-sizing: border-box;
  min-width: 230px;
  transition: background-color 0.2s;
}

.landing .hero-form-cta:hover {
  background-color: #3bac31;
}

.landing .hero-form-cta,
.landing .hero-form-cta:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .landing .hero-form {
    margin-top: -25px;
  }
  .landing .hero-form-search-container {
    background: none;
    height: auto;
  }
  .landing .hero-form-search-term {
    background: #f2f4f5;
    border-radius: 8px 0 0 8px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 50px;
    margin-bottom: 12px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .landing .hero-form-select-wrap {
    background: #f2f4f5;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    height: 50px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 15px;
  }
  .landing .hero-form-submit {
    margin-bottom: 12px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.landing .service-area-map {
  border-radius: 12px;
}

.landing {
  /* mobile version */
}
.landing .breadcrumbs {
  margin-bottom: 30px;
}
.landing .breadcrumb-link {
  color: #32393d;
  display: inline-block;
  position: relative;
  padding-right: 15px;
  margin-right: 15px;
}
.landing .breadcrumb-link:not(:last-child):after {
  display: block;
  content: url("data:image/svg+xml;charset=UTF-8, <svg width='6' height='8' xmlns='http://www.w3.org/2000/svg'><path d='M0 1.2L1.177 0l3.925 4-3.925 4L0 6.8 2.747 4z' fill='%23959595' fill-rule='evenodd'/></svg>");
  background-size: 8px 6px;
  height: 8px;
  position: absolute;
  top: 0;
  right: -7px;
  width: 6px;
}
.landing .breadcrumb-link:not(.current) {
  color: rgba(50, 57, 61, 0.4);
}
@media (max-width: 414px) {
  .landing .breadcrumbs {
    padding: 25px;
  }
  .landing .breadcrumbs a.breadcrumb-link:last-of-type {
    margin-right: 0;
    padding-right: 0;
  }
  .landing .breadcrumbs a.breadcrumb-link:last-of-type:after {
    display: none;
  }
  .landing .breadcrumbs span {
    display: none;
  }
}

.landing {
  /* external version */
}
.landing .product-list-title {
  margin-bottom: 30px;
  text-align: center;
}
.landing .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  margin-right: -15px;
  margin-left: -15px;
  padding: 0;
}
@media (min-width: 960px) {
  .landing .product-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.landing .product-list-item {
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 50%;
  margin: 0 0 30px 0;
  padding: 15px;
  text-align: center;
}
@media (min-width: 415px) {
  .landing .product-list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 155px;
    flex: 0 0 155px;
  }
}
@media (min-width: 768px) {
  .landing .product-list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 168px;
    flex: 0 0 168px;
    margin: 0 0 50px 0;
  }
}
@media (min-width: 960px) {
  .landing .product-list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    text-align: left;
  }
}
.landing .product-list-item:hover {
  -webkit-box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
}
.landing .product-list-item.external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.landing .product-list-item.external:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.landing .product-list-item a {
  display: block;
}
.landing .product-list-item a:hover {
  text-decoration: none;
}
.landing .product-list-item a:hover img {
  -webkit-transform: scale3d(1.02, 1.02, 1.02);
  transform: scale3d(1.02, 1.02, 1.02);
}
.landing .external-product-list-item-link {
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-shadow: inset 0px 0px 0 2px #f2f4f5;
  box-shadow: inset 0px 0px 0 2px #f2f4f5;
  border-radius: 8px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 100%;
  position: relative;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  width: 100%;
}
.landing .external-product-list-item-link:hover {
  -webkit-box-shadow: inset 0px 0px 0 2px #7f868b;
  box-shadow: inset 0px 0px 0 2px #7f868b;
}
.landing .external-product-list-item-icon-wrap {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.landing .external-product-list-item-icon {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}
@media (min-width: 960px) {
  .landing .external-product-list-item-icon {
    -webkit-transform: none;
    transform: none;
  }
}
.landing .external-product-list-item-label {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  color: #94999c;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .landing .external-product-list-item-label {
    font-size: 15px;
  }
}
.landing .product-list-item-image {
  border: 1px solid #e1e4e6;
  padding-top: 100%;
  /* this provides the aspect ratio of bg image */
  background: #f2f4f5;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  contain: strict;
  margin-bottom: 20px;
}
.landing .product-list-item-label {
  font-family: "Circular Bold", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  color: #32393d;
  display: block;
  line-height: 1.3;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .landing .product-list-item-label {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .landing .product-list-item-label {
    text-align: left;
  }
}
@media (min-width: 960px) {
  .landing .product-list-item-label {
    padding-right: 20px;
  }
}
.landing .product-list-item-price {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #94999c;
  display: block;
}
@media (max-width: 767px) {
  .landing .product-list-item-price {
    text-align: left;
  }
}

.landing .section-wrapper {
  border-bottom: 1px solid #e1e4e6;
  padding: 60px 0 40px;
  text-align: center;
  width: 100%;
  /* Special treatment for breadcrumb sections at mobile */
}
@media (min-width: 768px) {
  .landing .section-wrapper {
    padding: 80px 0 60px;
  }
}
.landing .section-wrapper:last-of-type {
  border-bottom: none;
}
.landing .section-wrapper .section-title {
  margin-bottom: 40px;
}
.landing .section-wrapper .section-title .landing--title-emphasizer {
  color: #fb2b31;
  font-style: normal;
}
.landing .section-wrapper.dark {
  background-color: #565d66;
}
.landing .section-wrapper.left {
  text-align: left;
}
@media (max-width: 414px) {
  .landing .section-wrapper.breadcrumb-wrapper {
    padding-top: 0;
  }
}

.landing .navigation {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 80px;
  left: 0;
  padding: 20px 30px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.landing {
  /* App Bar */
}
.landing .footer {
  padding: 50px 0;
  background-color: #32393d;
}
.landing .footer-title {
  margin-bottom: 10px;
}
.landing .footer-social {
  display: inline-block;
}
.landing .footer-social:hover .footer-social-icon {
  fill: rgba(255, 255, 255, 0.5);
}
.landing .footer-social-link {
  display: inline-block;
  padding: 0 10px 10px 0;
}
.landing .footer-social-link:last-child {
  padding-right: 0;
}
.landing .footer-social-link:hover {
  text-decoration: none;
}
.landing .footer-social-link:hover .footer-social-icon {
  fill: #ffffff;
}
.landing .footer-social-icon {
  fill: #ffffff;
  -webkit-transition: fill 0.15s ease-in-out;
  transition: fill 0.15s ease-in-out;
}
.landing .footer-links-list {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
}
@media (min-width: 768px) {
  .landing .footer-links-list {
    margin: 0;
  }
}

.landing .footer-link {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

@media (min-width: 768px) {
  .landing .footer-link {
    font-size: 14px;
  }
}
.landing .footer-link:hover {
  color: #ffffff;
  text-decoration: none;
}
.landing .footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
}
.landing .footer-app-bar {
  border-bottom: 1px solid #565d66;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.landing .footer-app-bar-description {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .landing .footer-app-bar-description {
    font-size: 14px;
  }
}
@media (min-width: 960px) {
  .landing .footer-app-bar-description {
    margin-bottom: 0;
  }
}
.landing .footer-app-store-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .landing .footer-app-store-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .landing .footer-app-store-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media (min-width: 960px) {
  .landing .footer-app-store-container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
.landing .footer-app-store-badge {
  margin: 10px 0 0 0;
}
@media (min-width: 768px) {
  .landing .footer-app-store-badge {
    margin: 20px 20px 0 0;
  }
}
@media (min-width: 960px) {
  .landing .footer-app-store-badge {
    margin: 0 0 0 20px;
  }
}

.landing .hero {
  padding: 130px 0 65px;
  background-size: cover;
  background-position: center center;
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .landing .hero {
    padding: 180px 0 275px;
  }
}
.landing .hero:after {
  background-color: rgba(50, 57, 61, 0.3);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.landing .hero .container-fluid {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .landing .hero-location {
    display: block;
  }
}

.landing {
  /* There are two types of cards -- basic-card and image-card. Styles that both cards share: */
  /* Basic landing card styles only */
  /* Mobile Landing Card Styles */
  /* Image landing card styles only */
  /* both image-card-link and external-card-link share styles.  */
  /* image-card-link styles only */
  /* external-card-link styles only */
  /* external-card-link styles */
  /* review card */
  /* CTA Card */
}
.landing .basic-card,
.landing .image-card {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.landing .card-title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-bottom: 20px;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
.landing .card-subtitle {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
.landing .basic-card-link,
.landing .basic-card-wrap {
  background: #f2f4f5;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 30px;
  text-decoration: none;
  width: 100%;
}
.landing .basic-card-link {
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.landing .basic-card-link:hover {
  background: #fb2b31;
  text-decoration: none;
}
.landing .basic-card-link:hover .card-title,
.landing .basic-card-link:hover .card-subtitle,
.landing .basic-card-link:hover .basic-card-action-label {
  color: #ffffff;
}
.landing .basic-card-link:hover .basic-card-action-arrow path {
  fill: #ffffff;
}
.landing .basic-card-link:active,
.landing .basic-card-link:focus {
  text-decoration: none;
}
.landing .basic-card-actions {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .landing .basic-card-actions {
    text-align: right;
  }
}
.landing .basic-card-action-label {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #32393d;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .landing .basic-card-action-label {
    font-size: 18px;
  }
}
.landing .basic-card-action-arrow {
  margin-left: 10px;
  vertical-align: middle;
}
.landing .basic-card-action-arrow path {
  fill: #32393d;
  -webkit-transition: fill 0.15s ease-in-out;
  transition: fill 0.15s ease-in-out;
}
@media (max-width: 414px) {
  .landing .basic-card-link {
    background: none;
    margin-bottom: 35px;
    padding: 0;
  }
  .landing .basic-card-link:hover {
    background: #ffffff;
  }
  .landing .basic-card-link:hover .card-title,
  .landing .basic-card-link:hover .card-subtitle {
    color: #32393d;
  }
  .landing .basic-card-link:hover .basic-card-action-label {
    color: #fb2b31;
  }
  .landing .basic-card-link .card-title {
    margin-bottom: 10px;
  }
  .landing .basic-card-link .card-subtitle {
    margin-bottom: 20px;
  }
  .landing .basic-card-link .basic-card-action-label {
    color: #fb2b31;
    font-weight: 700;
  }
  .landing .basic-card-link .basic-card-action-arrow {
    display: none;
  }
}
.landing .image-card-link,
.landing .external-card-link {
  background: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 25px;
  text-decoration: none;
  width: 100%;
}
@media (max-width: 767px) {
  .landing .image-card-link,
  .landing .external-card-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .landing .image-card-link,
  .landing .external-card-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .landing .image-card-link,
  .landing .external-card-link {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.landing .image-card-link:hover,
.landing .external-card-link:hover {
  text-decoration: none;
}
.landing .image-card-link:hover .image-card-link-wrapper svg,
.landing .external-card-link:hover .image-card-link-wrapper svg {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.landing .image-card-link:hover .external-card-super-arrow,
.landing .external-card-link:hover .external-card-super-arrow {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.landing .image-card-title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 90%;
  flex: 1 1 90%;
  padding-right: 15px;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
.landing .image-card-link {
  padding: 6px;
}
@media (min-width: 768px) {
  .landing .image-card-link {
    padding: 6px 6px 0 6px;
  }
}
.landing .external-card-link {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6px;
}
@media (min-width: 768px) {
  .landing .external-card-link {
    padding: 40px 6px;
  }
}
.landing .image-card-bg-container {
  /* this provides the aspect ratio of bg image */
  background: #f2f4f5;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  contain: strict;
}
@media (min-width: 768px) {
  .landing .image-card-bg-container {
    padding-top: 60%;
  }
}
@media (min-width: 768px) {
  .landing .image-card-bg-container {
    border-radius: 5px 5px 0 0;
  }
}
@media (max-width: 767px) {
  .landing .image-card-bg-container {
    height: 60px;
  }
}
@media (max-width: 767px) {
  .landing .image-card-bg-container {
    width: 60px;
  }
}
.landing .image-card-link-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .landing .image-card-link-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media (min-width: 768px) {
  .landing .image-card-link-wrapper {
    padding: 20px;
  }
}
.landing .image-card-link-wrapper svg {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 10px;
  flex: 0 1 10px;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.landing .image-card-link-wrapper svg path {
  fill: #e1e4e6;
}
.landing .external-card-link-wrapper {
  -ms-flex-item-align: center;
  align-self: center;
}
@media (max-width: 767px) {
  .landing .external-card-link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 767px) {
  .landing .external-card-link-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media (max-width: 767px) {
  .landing .external-card-link-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .landing .external-card-link-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .landing .external-card-link-wrapper {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .landing .external-card-link-wrapper {
    text-align: center;
  }
}
.landing .external-card-link-wrapper svg {
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.landing .external-card-link-label {
  font-family: "Circular Bold", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.25;
  color: #32393d;
  display: block;
}
@media (min-width: 768px) {
  .landing .external-card-link-label {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .landing .external-card-link-label {
    font-family: "Circular Book", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .landing .external-card-link-label {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .landing .external-card-link-label {
    -ms-flex-item-align: center;
    align-self: center;
  }
}
@media (min-width: 768px) {
  .landing .external-card-link-label {
    color: #94999c;
  }
}
@media (min-width: 768px) {
  .landing .external-card-link-label {
    margin-top: 10px;
  }
}
.landing .external-card-super-arrow {
  display: none;
}
@media (min-width: 768px) {
  .landing .external-card-super-arrow {
    display: inline-block;
  }
}
.landing .external-card-simple-arrow {
  fill: #e1e4e6;
}
@media (max-width: 767px) {
  .landing .external-card-simple-arrow {
    -ms-flex-item-align: center;
    align-self: center;
  }
}
@media (min-width: 768px) {
  .landing .external-card-simple-arrow {
    display: none;
  }
}
.landing .review-star-container {
  margin-bottom: 20px;
}
.landing .review-star {
  display: inline-block;
  height: 18px;
  width: 18px;
}
.landing .review-text {
  font-family: "Circular Bold", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .landing .review-text {
    font-size: 18px;
  }
}
.landing .review-author {
  font-family: "Circular Book", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  margin: 0;
}
@media (min-width: 768px) {
  .landing .review-author {
    font-size: 15px;
  }
}
.landing .cta-card {
  margin-bottom: 25px;
}
.landing .cta-card-wrap {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f2f4f5;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 30px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.landing .cta-card-content {
  margin-left: 25px;
}
.landing .cta-card-icon svg {
  vertical-align: middle;
}
.landing .cta-card-text {
  margin-bottom: 0;
}

.landing .accordion {
  margin: 10px 0 0;
}

@media (min-width: 768px) {
  .landing .accordion {
    margin: 50px 0 0;
  }
}

@media (min-width: 960px) {
  .landing .accordion {
    margin: 0 -15px;
  }
}

.landing .accordion .option {
  border-bottom: 1px solid #7f868b;
  padding: 0;
  position: relative;
}

.landing .accordion .toggle {
  display: none;
}

.landing .accordion .toggle:checked + .title + .content {
  max-height: 500px;
}

.landing .accordion .toggle:checked + .title:before {
  transform: rotate(90deg) !important;
}

.landing .accordion .content,
.landing .accordion .title {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.2s;
}

.landing .accordion .title {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}

.landing .accordion .title label {
  padding: 20px 0;
  display: block;
}

.landing .accordion .title:after,
.landing .accordion .title:before {
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  width: 2px;
  margin-top: -6px;
  height: 12px;
  background-color: #fff;
  transition: all 0.2s;
}

.landing .accordion .title:after {
  transform: rotate(90deg);
}

.landing .accordion .content {
  font-family: Circular-300, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  max-height: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .landing .accordion .content {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .landing .accordion .content {
    margin: 0;
  }
}

.landing .accordion .content span {
  display: block;
}

.landing .accordion .content .mid-level-grouping-title {
  color: #fff;
}

@media (min-width: 768px) {
  .landing .accordion .content .mid-level-grouping-title {
    margin-bottom: 30px;
    display: inline-block;
  }
}

.landing .accordion .content ul {
  list-style: none;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
}

.landing .accordion .content ul a {
  font-family: Circular-300, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: hsla(0, 0%, 100%, 0.6);
  transition: color 0.15s ease-in-out;
}

@media (min-width: 768px) {
  .landing .accordion .content ul a {
    font-size: 14px;
  }
}

.landing .accordion .content ul a:hover {
  color: #fff;
  text-decoration: none;
}