@font-face {
  font-family: Circular;
  src: url("CircularStd-Book.otf");
}

@font-face {
  font-family: CircularMedium;
  src: url("CircularStd-Medium.otf");
}


body{
	scroll-behavior: smooth;
	font-family: Circular;
}


html{
	scroll-behavior: smooth;
}

@media only screen and (min-width: 600px) {

	body{
		padding-top: 0%;
	}

	.rentButton{
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.project-title{
		font-size: 4vw;
		padding-bottom: 5%;
	}

	.duration{
		padding-top: 5%;
		font-size: 3vw;
	}

	.subject-container{
		background: #f2f4f5;
    	border-radius: 12px;
    	padding-left: 0.5%;
    	padding-right: 1%;
    	padding-top: 0.5%;
    	padding-bottom: 0.5%;
    	margin-left: 1%;
	}

	.headingSection{
		margin-left: 25%;
		margin-top: 10%;
	}

	.tagLine{
		padding-top: 10%;
		font-size: 4vw;
		font-weight: 700;
		color: #32393d;
		font-family: CircularMedium;
	}

	.logoDiv{
		margin-bottom: 10%;
	}

	.tutorial-menu{
		float: left;
		width: 30%;
		top: 0;
		padding-top: 7.5%;
		padding-left: 5%;
		padding-right: 5%;
		position: fixed;
		overflow-y: scroll
	}

	.tutorial-container{
		overflow-y: scroll;
    	overflow-x:hidden;
	}

	.tutorial-menu-title{
		font-size: 42px;
		padding-top: 2%;
	}

	.tutorial-menu-title-left{
		font-size: 32px;
		font-weight: 700;
	}

	.bullet{
		color: #000;
		font-size: 32px;
		margin-right: 5%;
		vertical-align: middle;
		font-weight: 700;
	}

	section{
		padding-top: 10%;
	}

	.content{
		width: 55%;
		margin-left: 30%;
		overflow-y: scroll;
		margin-bottom: 20%;
	}

	.content-paragraph{
		padding-top: 2.5%;
		font-size: 32px;
		opacity: 0.4;
		line-height: 1.2em;
		font-family: Circular;
	}

	.tutorial-link{
		text-decoration: none;
		color: #000;
	}

	.col{
	 	flex: 1;
	 	height: 600px;
	 	background-color: #FFF;
	 	margin-bottom: 3%;
	 	padding-top: 1%;
	 	margin-right: 0.5%;
	 	margin-left: 0.5%;
	 }


	.desc{
		z-index: 999;
		width: 100%;
		font-family: CircularMedium;
		line-height: 1em;
		padding-top: 5%;
	}

	 .flex-grid {
		 display: flex;
		 padding-right: 3%;
		 padding-left: 3%;
	 }

	 .img{
	 	height: 400px;
	 	width: 100%;
	 	object-fit: cover;
	 	z-index: -999;
	 	border-radius: 16px;
	 }

	 .grid{
	 	margin-top: 5%;
	 }

	 .title{
	 	font-size: 1.5vw;
	 	padding-left: 2%;
	 	padding-right: 2%;
	 	padding-bottom: 3%;
	 }

	 .link{
	 	text-decoration: none;
	 }

	 .headerNav{
	 	padding-top: 1%;
	 	padding-bottom: 1%;
	 	width: 100%;
	 	height: 5%;
	 	position: fixed;
	 	background-color: #fff;
	 	top: 0;
	 	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
	 	z-index: 999;
	 }


}

@media only screen and (max-width: 600px) {
	body{
		padding-top: 0%;
	}

	.rentButton{
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.project-title{
		font-size: 4vw;
		padding-bottom: 5%;
	}

	.duration{
		padding-top: 5%;
		font-size: 3vw;
	}

	.subject-container{
		background: #f2f4f5;
    	border-radius: 12px;
    	padding-left: 0.5%;
    	padding-right: 1%;
    	padding-top: 0.5%;
    	padding-bottom: 0.5%;
    	margin-left: 1%;
	}

	.headingSection{
		margin-left: 25%;
		margin-top: 10%;
	}

	.tagLine{
		padding-top: 10%;
		font-size: 4vw;
		font-weight: 700;
		color: #32393d;
		font-family: CircularMedium;
	}

	.logoDiv{
		margin-bottom: 10%;
	}

	.tutorial-menu{
		width: 80%;
		margin-top:20%;
		padding-top: 7.5%;
		padding-left: 5%;
		padding-right: 5%;
		overflow-y: scroll
	}

	.tutorial-container{
		overflow-y: scroll;
    	overflow-x:hidden;
	}

	.tutorial-menu-title{
		font-size: 42px;
		padding-top: 2%;
	}

	.tutorial-menu-title-left{
		font-size: 32px;
		font-weight: 700;
	}

	.bullet{
		color: #000;
		font-size: 32px;
		margin-right: 5%;
		vertical-align: middle;
		font-weight: 700;
	}

	section{
		padding-top: 10%;
	}

	.content{
		width: 85%;
		margin-left: 5%;
		overflow-y: scroll;
		margin-bottom: 20%;
	}

	.content-paragraph{
		padding-top: 2.5%;
		font-size: 32px;
		opacity: 0.4;
		line-height: 1.2em;
		font-family: Circular;
	}

	.tutorial-link{
		text-decoration: none;
		color: #000;
	}

	.col{
	 	flex: 1;
	 	height: 600px;
	 	background-color: #FFF;
	 	margin-bottom: 3%;
	 	padding-top: 1%;
	 	margin-right: 0.5%;
	 	margin-left: 0.5%;
	 }


	.desc{
		z-index: 999;
		width: 100%;
		font-family: CircularMedium;
		line-height: 1em;
		padding-top: 5%;
	}

	 .flex-grid {
		 display: flex;
		 padding-right: 3%;
		 padding-left: 3%;
	 }

	 .img{
	 	height: 400px;
	 	width: 100%;
	 	object-fit: cover;
	 	z-index: -999;
	 	border-radius: 16px;
	 }

	 .grid{
	 	margin-top: 5%;
	 }

	 .title{
	 	font-size: 1.5vw;
	 	padding-left: 2%;
	 	padding-right: 2%;
	 	padding-bottom: 3%;
	 }

	 .link{
	 	text-decoration: none;
	 }

	 .headerNav{
	 	padding-top: 1%;
	 	padding-bottom: 1%;
	 	width: 100%;
	 	height: 5%;
	 	position: fixed;
	 	background-color: #fff;
	 	top: 0;
	 	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
	 	z-index: 999;
	 }


}